{% extends "base.html" %}

{% block content %}
    <main>
        <h1>Expense Categories</h1>
        <p class="center-text-view">It is {% now "l, F jS, Y" %}</p>  
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.receipts.all | length}}</td>
                        <td>
                            <a href="{% url 'category_edit_url' category.id %}">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'category_delete_url' category.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content%}