{% load static %}

<!DOCTYPE html>


<html lang="en">
    <head>
        <title>Receipts</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="navigation">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a href="{% url 'admin:index' %}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "receipts_list_url" %}">Receipts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "receipts_new_url" %}">New Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "category_list_url" %}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "category_new_url" %}">New Category</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "account_list_url" %}">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "account_new_url" %}">New Account</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url "signup" %}">New Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>


