{% extends "base.html" %}

{% block content %}
    <main class="center-text-view">
        <h1>Login here</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </main>
{% endblock content %}