{% extends "base.html"%}

{% block content %}
    <main class="center-text-view">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Are you sure you want to delete?</p>
            <button class="button">Delete</button>
        </form>
    </main>
  {% endblock content%}